*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#121341,#4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 37px 23px 62px;
    border-radius: 10px;
    margin-top: 90px;
}
.todo-app h2{
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Amaranth', sans-serif;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(191, 186, 186);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}
input{
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
    font-size: 16px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 38px ;
    user-select: none;
    cursor: pointer;
    position: relative;
    font-family: 'Amaranth', sans-serif;
}
ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.check{
    color: #555;
    text-decoration: line-through;
}
ul li.check::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #ff0000;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
.container h1{
    font-family: 'Bungee Spice', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    font-size: 50px;
}
button:hover{
    background: green;
    transition: 0.6s;
}